<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="theme-color" content="#000"/>
	<meta name="description" content="raising heck"/>

	<meta property="og:type" content="website"/>
	<meta property="og:url" content="https://heckseven.com/"/>
	<meta property="og:title" content="actual heck"/>
	<meta property="og:description" content="syths, solder, splinters, sh"/>
	{% if shareimage %}
		<meta property="og:image" content="{% shareImageUri shareimage %}" />
	{% else %}
		<meta property="og:image" content="clueless.jpg" />
	{% endif %}

	{% if title %}
		<title>heckin {{ title }}</title>
	{% else %}
		<title>heck yeah</title>
	{% endif %}

	<link rel="stylesheet" href="/styles.css">

	{% if tags[0] == "zine" %}
		<link rel="stylesheet" href="/static/css/zine.css">
	{% endif %}

	{% if accent %}
		<style>
			:root { --color-accent: {{ accent }}; }
		</style>
	{% endif %}
</head>
