/* styles ascii pre block */

.language-ascii {
	color: var( --color-accent );
	display: block;
	margin: 0 0 var( --unit-8 );
	max-width: 100%;
	overflow: auto;
	text-align: center;

}

@media ( max-width: 480px ) {
	.language-ascii {
		font-size: .5rem;
	}
}
