/* .logo */
.logo_wrapper {
	display: block;
	margin: var( --unit-15 ) auto var( --unit-8 );
	width: fit-content;
}

.logo {
	display: block;
	overflow: visible;
	stroke: var(--color-accent);
	stroke-dasharray: 180;
	stroke-width: 1px;
	width: 54px;
}

.logo_h {
	fill: var(--color-background);
	stroke: var(--color-text);
}

.logo_wrapper:focus-visible {
	background-color: unset;
	outline-offset: var( --unit-1 );
	outline-width: 1px;
}

.logo_wrapper:hover .logo,
.logo_wrapper:focus .logo {
	transition: all 2.5s ease-in-out;
	stroke-dashoffset: 360;
} 

