main {
	border: 1px solid var( --color-text );
	margin: var( --unit-1 ) auto;
	max-width: 80ch;
	padding: var( --unit-2 );
}

ol {
	padding: 0 0 0 4ch;
}

ul {
	padding: 0 0 0 2ch;
}


li::marker {
	display: block;
}

ul li {
	list-style-type: "- ";
}

li ol,
li ul {
	padding-left: 2ch;
}

.PS1 {
	font-weight: bold
}

